/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}


/* Navigation */
header {
    background: #7d1492;
    color: white;
    padding: 1rem 0;
}

.logo-text{
    font-size: 1.7rem;
    float: left;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 1.2rem;
}

nav ul li a.active {
    font-weight: bold;
}

/* Appoint Section */
.appoint-text {
    background: #010e11;
    text-align: center;
    padding: 60px 20px;
}

.appoint-text p {
    color: #e8e2e9;
}

.appoint-text h2 {
    font-size: 2.5rem;
    color: #f1eef1;
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    background: #7d1492;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Content Grid */
.front-container {
    display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
  flex-direction: row-reverse;
}

.front-container h1 {
    font-family: 'Poppins', cursive;
    color: #7d1492;
}
.front h2 {
  color: #7d1492;
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.front p {
  color: #161414;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.clinic {
    background: rgb(244, 238, 245);
    padding: 15px;
    border: 1px solid #ddd;
    flex: 1;
}

.clinicfront img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Background */
body{
    background-color: #f1e9e9;
}

/* dentist */
.Dentist {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

.descrip {
  flex: 1;
}

.descrip h2 {
  color: #7d1492;
  font-size: 32px;  
  line-height: 1.4;
  margin-bottom: 20px;
}


.image {
  flex: 1;
  text-align: right;
}

.image img {
  max-width: 100%;
  border-radius: 10px;
}

/*SERVICES*/
 .servcontainer {
            max-width: 800px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }


.services h2 {
            color: #6a4c93;
        }

h1 {
    text-align: center;
    color: #6a4c93;
        }
       
.services {
            margin-top: 20px;
        }

.services h2 {    
    color: #6a4c93;
        }

/* CONTACT */
.contact-container {
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
    padding: 0 60px;
    margin-top: auto;
}        

/* ABOUT */
.about-container {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #7d1492;
    color: white;
    margin-top: 5%;
}


/* Simple Mobile Responsive */
@media (max-width: 768px) {
    .grid-container {
        flex-direction: column;
    }
    
    nav {
        flex-direction: column;
    }
}